<div class="col-md-4">
    <div class="album-card">
        <div class="album-card">
            {{#if images.1.url}}
            <img class="album-img" src={{images.1.url}} alt={{name}} />
            {{else}}
            <img id="noimage" src="/images/no-image.jpeg" alt="{{name}} photo">
            {{/if}}
        </div>
        <div class="album-card-description">
            <h5 class="card-title">{{name}}</h5>
            <a href="/tracks/{{id}}" class="to-album">View Tracks</p>
        </div>

    </div>
</div>